<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Add your custom CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .header {
            text-align: center;
            background-color: #FF6B18;
            color: #fff;
            padding: 10px 0;
        }

        .content {
            padding: 20px;
        }

        .details {
            margin-top: 20px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Transaction Confirmation</h2>
        </div>
        <div class="content">
            <p>Dear {{recipient}},</p>
            <p>We wish to inform you that a {{paymentType}} transaction occurred on your wallet .</p>
            <div class="details">
                <p><strong>Amount of Service:</strong> {{amount}}</p>
                <p><strong>Service Name:</strong> {{serviceName}}</p>
                <p><strong>Transaction Date:</strong> {{transactionDate}}</p>
                <p><strong>Amount Before:</strong> {{amountBefore}}</p>
                <p><strong>Amount After:</strong> {{amountAfter}}</p>
                <p><strong>Transaction Reference:</strong> {{transactionReference}}</p>
            </div>
            <p>Please keep this email as your receipt for the payment made.</p>
            <p>If you have any questions or concerns regarding the transaction, please do not hesitate to reach out to
                our customer support team at <a href="mailto:support@rechargemaster.com">support@rechargemaster.com</a>.</p>
             
            <p>Best regards,</p>
            <p>RechargeMaster</p>
        </div>
        <div class="footer">
            <p>&copy; 2023 RechargeMaster. All rights reserved.</p>
            {{!-- <p>&copy; <span id="currentYear"></span> UfitSub. All rights reserved.</p> --}}

        </div>
    </div>
</body>

</html>
<script>
    // JavaScript code to set the current year
    const currentYear = new Date().getFullYear();
    document.getElementById('currentYear').textContent = currentYear;
</script>